# Django and typical dependencies
django==4.2.7
python-decouple==3.8
gunicorn==21.2.0
psycopg==3.1.12 # 2023 Sep https://pypi.org/project/psycopg/3.1.12/

# Validation
# ------------------------------------------------------------------------------
webargs==8.3.0 # 2023 Jul https://github.com/marshmallow-code/webargs
marshmallow==3.20.1 # 2023 Jul https://github.com/marshmallow-code/marshmallow/3.20.1/

# oAuth
# ------------------------------------------------------------------------------
django-oauth-toolkit==2.3.0

# REST
# ------------------------------------------------------------------------------
djangorestframework==3.14.0
uritemplate==4.1.1
coreapi==2.3.3
coreschema==0.0.4
drf-yasg==1.20.0
django-cors-headers==3.11.0
django-filter==21.1
markdown==3.3.6
pyyaml==5.3.1